@model IEnumerable<ErrorLogModel.UsersAndApplication>
@Styles.Render("~/Content/Webapp.css")
    @{
        ViewBag.Title = "ShowApplications";
    }

    <h2>ShowApplications</h2>

<div class="Admin">
    <table>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Application.ApplicationName)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Application.ApplicationName)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }, new { @class = "but" })
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Back", "User", new { area = "" }, new { @class = "but" })

</p>
       
